extends layout

block content
    h1=signup
    form(action='signup', method='POST')
        p
            | username:
            input(type='text', name='username', value='')
            br
            |           password:
            input(type='password', name='password', value='')
            br
            |           createAt:
            input(type='date', name='createAt', value='')
            br
            |           displayName:
            input(type='text', name='displayName', value='')
            br
            |           bio:
            input(type='text', name='bio', value='')
            br
        input(type='submit', value='Submit')
